
html.rco_theme {
  --mat-sys-primary: #4c364b;
  --mat-sys-primary-fixed-dim: rgba(76, 54, 75, 0.15);
  --mat-sys-secondary: #caa55c;
  --mat-sys-secondary-fixed-dim: rgba(202, 165, 92, 0.15);
  --mat-sys-tertiary: #8ed1fc;
  --mat-sys-tertiary-fixed-dim: rgba(142, 209, 252, 0.15);
  --mat-sys-success: #43a446;
  --mat-sys-error: #f23a2f;
}